.Owner {
  font-weight: bold;
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
}

.EditBtn{
  float: inline-end;
}
.ActionIcons {
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.EditIcon {
  color: #343a40 ;
}

.EditIcon:hover {
  color: #0056b3;
}

.DeleteIcon {
  color: #343a40;
}

.DeleteIcon:hover {
  color: #dc3545;
}