
.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  align-items: center;
}

.NavLink {
  padding: 5px;
}

.HeadSpace {
  padding-top: 12px;
}

.CustomDropdownItem {
  display: block;
  width: 100%;
  padding: 5px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.CustomDropdownItem:active, 
.CustomDropdownItem:focus, 
.CustomDropdownItem:hover {
  padding: 5px;
  color: #000000;
  background-color: #ECF0EF;
}

.dropdown-menu {
  border: 0px;
}
  
.CustomDropdown::after {
  display: none;
} 

.Active {
  color: #4A676A;
  font-weight: 700;
  text-decoration: underline;
}

.Active i {
  color: #3F5056;
}
