.Recipe {
  margin-bottom: 16px;
}

.Recipe p {
  white-space: pre-wrap;
}

.RecipeCardImg {
  width: 100%;
  object-fit: cover;
  max-height: 40vh;
}

.CustCard {
  background-color: #FDFFFC;
  border: 1px solid #dadadf;
  border-radius: 2px;
}

.RecipeHeadline {
  font-size: 1.75rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.NavLink {
  padding: 10px 10px 10px 0;
  font-weight: 500;
  font-size: 1.25rem;
  position: relative;
  text-decoration: none;
}

/* .NavLink:global(.active) {
  color: #4A676A;
  position: relative; 
  
} */
.IconTextWarning {
  color: #ec8d00;
}
.EditBtn{
  float: inline-end;
}

.Heart {
  color: #D4311B;
}

.Heart:hover {
  color: #011627;
}

.HeartOutline:hover {
  color: #D4311B;
}

/* .NavLink {
  padding: 10px 10px 10px 0;
  font-weight: 500;
  font-size: 1.25rem;
  position: relative;
  text-decoration: none;
} */
.NavLinkActive {
  color: #4A676A;
  position: relative;
}
.NavLinkActive::after {
  content: "";
  background: #8fa39f;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.3s ease;
}
/* .NavLink:global(.active)::after {
  content: "";
  background: #8fa39f;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.3s ease;
} */

.Active i {
  background-color: aqua;
  color: #3F5056;
  text-decoration: underline;
}

.IngredientList {
  list-style-type: none;
  padding: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .RecipeCardImg {
    border-radius: 2px 2px 0 0; 
    width: 100%;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .RecipeCardImg {
    border-radius: 2px 2px 0 0; 
    max-height: 40vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .RecipeCardImg {
    height: 100%;
    min-height: 400px;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .RecipeCardImg {
    height: 100%;
    min-height: 400px;
  }
 }
